<div class="row">
  <div class="large-12 columns">
    <h3>Responsive Poker</h3>
    <div class="panel callout radius text-center">
      <% unless @attendee.nil? %>
        <p>Welcome back, <%= @attendee.name %>!</p>
      <% end %>
      <%= link_to 'Create', rooms_path, class: 'round button', method: 'POST' %>
      a room
      <% unless @attendee.nil? %>
        <br />
        Or rejoin <%= link_to "Room ##{@attendee.room.id}", @attendee.room, class: 'round button' %>
      <% end %>
      <% unless @room.nil? %>
          <br />
          Or readminister <%= link_to "Room ##{@room.id}", admin_room_path(@room), class: 'round button' %>
      <% end %>
    </div>
  </div>
</div>