<div class="row">
  <div class="large-12 columns">
    <h1>Lean Poker</h1>

    <div class="panel callout radius">
      <%= link_to 'Create a Room', rooms_path, class: 'button', method: 'POST' %>
    </div>
  </div>
</div>