<div class="row">
  <div class="large-6 columns">
    <h3>Get started</h3>

    <div class="panel callout radius">
      <%= link_to 'Create', new_room_path, class: 'round button' %> a room
    </div>

    <h3>Recent rooms</h3>

    <div class="panel callout radius">
      <% unless @room_history.nil? %>
        <ul class="no-bullet">
        <% @room_history.each do |record| %>
          <li>
            <% if record.is_a?(Attendee) %>
              <%= link_to record.room.display_name, record.room %>
                as <%= record.name %>
            <% else %>
              <%= link_to record.display_name, admin_room_path(record) %>
                (admin)
            <% end %>
          </li>
        <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>