<div class="row">
  <div class="large-6 columns">
    <h3>Get started</h3>

    <div class="panel callout radius">
      <%= link_to 'Create', new_room_path, class: 'round button' %> a room
    </div>
  </div>
  <div class="large-6 columns">
    <% unless @attendee_history.nil? && @admin_history.nil? %>
        <h3>Recent history</h3>
    <% end %>

    <% unless @attendee_history.empty? %>
        <div class="panel callout radius">
          <h5>Attended</h5>
          <ul class="no-bullet">
            <% @attendee_history.each do |attendee| %>
                <li>
                  <%= link_to attendee.room.display_name, attendee.room %>
                    as <%= attendee.name %>
                </li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% unless @admin_history.empty? %>
        <div class="panel callout radius">
          <h5>Administered</h5>
          <ul class="no-bullet">
            <% @admin_history.each do |room| %>
                <li>
                  <%= link_to room.display_name, admin_room_path(room) %>
                </li>
            <% end %>
          </ul>
        </div>
    <% end %>
  </div>
</div>